.navbar {
    width: 60px;
    height: 100vh;
    background-color: #f2e7f2; /* Light purple background */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    color: #000;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-item:hover {
    background-color: #d3c0d3; /* Slightly darker purple on hover */
    border-radius: 10px;
}

.navbar-item span {
    margin-top: 5px;
    font-size: 12px;
}

.navbar-item.plus {
    margin-top: 610px; /* Move the plus icon to the bottom */
    background-color: #ffcccc; /* Red background for the plus icon */
    color: #000;
    padding: 28px;
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 0px;
    height: 0.001vh;
}

.navbar-item.plus:hover {
    background-color: #ff9999; /* Darker red on hover */
}
