/* button.css */
button { 
  background-color: white;
  color: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px 0;
  scale: 1;

}

button:hover {
  background-color: white;
}
div {
  margin: 5px 0;
}