.Square_3 {
    width: 400px; /* Tamaño del cuadrado */
    height: 200px; /* Tamaño del cuadrado */
    border-radius: 20px; /* Bordes circulares (la mitad del tamaño del cuadrado) */
    background-image: url('../../assets/Lab.jpg'); /* Ruta a tu imagen PNG de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el cuadrado */
    background-position: center; /* Centra la imagen en el cuadrado */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc; /* Borde del cuadrado */
    position: relative;
  }
  
  .text {
    margin-bottom: 10px; /* Espacio entre el texto y el componente hijo */
    font-size: 18px;
    text-align: center;
    color: rgb(0, 174, 187); /* Ajusta el color del texto según el contraste con la imagen */
  }
  
  .Calendar-component {
    position: absolute;
    bottom: 10px; /* Espacio desde el borde inferior del cuadrado */
  }