.Square_0 {
    width: 90%;
    height: 250px;
    border-radius: 20px;
    background-image: url('../../assets/Lab2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc; /* Borde del cuadrado */
    position: relative;
    margin-bottom: 20px;
  }
  
  .text {
    margin-bottom: 10px; /* Espacio entre el texto y el componente hijo */
    font-size: 18px;
    text-align: center;
  }
  
  .Calendar-component {
    position: absolute;
    bottom: 10px; /* Espacio desde el borde inferior del cuadrado */
  }