/* Contenedor principal del calendario */
.calendar-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.calendar-button {
  background: none; /* Elimina el fondo del botón */
  border: none; /* Elimina el borde del botón */
  padding: 0; /* Elimina el padding del botón */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
  position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
}

.calendar-button img {
  width: 40px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  transition: filter 0.3s ease; /* Suaviza la transición del filtro */
}

/* Efecto oscuro cuando el cursor está sobre el botón */
.calendar-button:hover img {
  filter: brightness(0.7); /* Ajusta el valor según el efecto deseado */
}

/* Calendario */
.calendar {
  border: 1px solid #ddd;
  padding: 20px;
  width: 320px; /* Ancho ajustado para que los días quepan */
  background-color: #f2eaf8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute; 
  z-index: 1;
}

/* Encabezado del calendario (Mes y Año) */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: #5e35b1;
}

/* Botones de navegación (Mes anterior y Mes siguiente) */
.calendar-header button {
  background-color: transparent;
  color: #5e35b1;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Días de la semana (encabezado) */
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas para cada día */
  text-align: center;
  color: #7e57c2;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Contenedor de las fechas */
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas para cada día */
  gap: 10px; /* Espacio entre los días */
}

/* Cada día del mes */
.calendar-date {
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  width: 15px;  /* Tamaño ajustado de los círculos */
  height: 15px;
  line-height: 15px; /* Centrado vertical del texto */
  cursor: pointer;
  color: #4a4a4a;
}

/* Hover en los días del mes */
.calendar-date:hover {
  background-color: #d1c4e9;
}

/* Días vacíos (espacios en blanco antes del inicio del mes) */
.calendar-date.empty {
  background-color: transparent;
  cursor: default;
  pointer-events: none;
}

/* Estilo del botón para mostrar/ocultar el calendario */
button {
  background-color: #5e35b1;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4527a0;
}
